* {
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (width > 768px) {
  .container {
      width: 750px;
  }
}
@media (width > 992px) {
  .container {
      width: 970px;
  }
}
@media (width > 1200px) {
  .container {
      width: 1170px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* Start Variables */
:root {
  --main-color: #43b182;
  --light-main-color: #bde0ca;
  --sec-color: #0387c4;
  --header-height: 75px;
  --transtion-du: 0.4s;
  --padding: 50px;
}

.main-title {
  margin: 50px auto;
  border: 4px solid black;
  font-size: 40px;
  font-weight: bold;
  width: fit-content;
  padding: 5px 20px;
  position: relative;
  z-index: 99;
}
.main-title:hover {
  animation-name: collapse-background;
  animation-delay: var(--transtion-du) - 0.1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -99;
}
.main-title::before {
  left: -40px;
}
.main-title:hover::before {
  z-index: -1;
  animation: collapse-left var(--transtion-du) forwards;
}
.main-title::after {
  right: -40px;
}
.main-title:hover::after {
  z-index: -1;
  animation: collapse-right var(--transtion-du) forwards ease-out;
}
/* End Components */
/* Start Header */
header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}
header .logo img {
  width: 100px;
  max-width: 100%;
}
header .main-nav {
  display: flex;
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  position: relative;
  color: black;
  padding: 5px 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--transtion-du);
}
header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0px;
  left: -100%;
  transition: var(--transtion-du);
}
header .main-nav > li > a:hover::before {
  left: 0;
}

img {
  max-width: 100%;
  display: block;
}

.cart-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#cart {
  position: relative;
  font-size: 15px;
  cursor: pointer;
  top: 35px;
}

.cart-quantity {
  color: white;
    background-color: #1dbf73;
    padding: 1px 1px;
    position: absolute;
    margin: 0.8em -0.5em 0 0;
    left: 10px;
    border: solid 2px #1dbf73;
    border-radius: 10px;
    font-weight: bolder;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 1em
}

.card {
/*   width: 15rem; */
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product-image {
  margin-bottom: 1em
}

.add-to-cart {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50,50,50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
  
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
/*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.middle_badge{
display: flex;
justify-content: center;
border: 4px solid black;
font-size: 40px;
font-weight: bold;
width: 250px;
position: relative;
left: 340px;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: green;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

@media (max-width: 1000px){
  .cart-modal {
    width: 100vw;
  } 
  
  .product-row {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .remove-btn {
    margin: 0
  }
  
  .product-quantity {
    margin: .5em 0 .5em 0
  }
}

.main-title {
  margin: 50px auto;
  border: 4px solid black;
  font-size: 40px;
  font-weight: bold;
  width: fit-content;
  padding: 5px 20px;
  position: relative;
  z-index: 99;
}
.main-title:hover {
  animation-name: collapse-background;
  animation-delay: var(--transtion-du) - 0.1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -99;
}
.main-title::before {
  left: -40px;
}
.main-title:hover::before {
  z-index: -1;
  animation: collapse-left var(--transtion-du) forwards;
}
.main-title::after {
  right: -40px;
}
.main-title:hover::after {
  z-index: -1;
  animation: collapse-right var(--transtion-du) forwards ease-out;
}
/* End Components */
/* Start Header */
header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}
header .logo img {
  width: 100px;
  max-width: 100%;
}
header .main-nav {
  display: flex;
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  position: relative;
  color: black;
  padding: 5px 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--transtion-du);
}
header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0px;
  left: -100%;
  transition: var(--transtion-du);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  direction: rtl;
}
.landing::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-main-color);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 40px;
}
.landing .container .text h1 {
  margin: 0;
}
.landing .container .text p {
  line-height: 1.5;
  color: var(--font-color);
  max-width: 500px;
  margin: 5px 0 0;
  font-size: 22px;
}
.landing audio {
  width: 100%;
  margin-top: 10px;
}
.landing .container .image {
  flex: 1;
  animation: up-n-down 4s infinite linear alternate;
}
.landing .container .image img {
  /* height: 360px; */
  max-width: 100%;
}
.landing .scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transtion-du);
}
.landing .scroll-down i {
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  animation: bounce 1.5s infinite linear alternate;
}
/* End Landing */
/* Start Table */
.table table {
  border-spacing: 0px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  width: 100%;
}
.table table thead {
  text-align: center;
}
.table table td {
  border: 1px solid #eee;
  transition: var(--transtion-du);
  padding: 20px;
  margin: 10px;
}
.table table td img {
  height: 70px;
  border-radius: 50%;
}
.table table thead tr:first-child,
.table table tr td:first-child {
  font-weight: bold;
}
.table table tr td:first-child {
  background-color: var(--light-main-color);
  font-size: 22px;
}
.table i {
  font-size: 22px;
}
.table i.fa-check {
  color: var(--sec-color);
}
.table i.fa-xmark {
  color: red;
}
/* End Table */
/* Start products */
.products {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.products .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 40px;
}
.products .boxes .box {
  background-color: white;
  -webkit-box-shadow: 0 0 4px #43b182;
  -moz-box-shadow: 0 0 4px #43b182;
  box-shadow: 0 0 4px #43b182;
  border-radius: 7px;
  height: 420px;
  transition: var(--transtion-du);
  position: relative;
  overflow: hidden;
}
.products .boxes .box:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 2px 2px 4px 1px #43b182;
  -moz-box-shadow: 2px 2px 4px 1px #43b182;
  box-shadow: 2px 2px 4px 1px #43b182;
}
.products .boxes .box img {
  max-height: 260px;
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.products .boxes .box .text {
  margin-left: 20px;
}
.products .boxes .box h3 {
  margin: 20px 0;
  font-size: 25px;
}
.products .boxes .box p {
  color: var(--font-color);
  line-height: 1.6;
  position: relative;
}
.products .boxes .box h3,
.products .boxes .box p {
  text-align: center;
}
.products .boxes .box p::before {
  content: '';
  position: absolute;
  width: calc(100% + 20px);
  height: 2px;
  background-color: #ececec;
  bottom: -10px;
  left: -20px;
}
.products .boxes .box a {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin: 20px 0 15px;
  position: relative;
}
.products .boxes .box a::before {
  content: "";
  position: absolute;
  background-color: white;
  z-index: -2;
  width: 100%;
  height: 100px;
  top: 400px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
.products .boxes .box a::after {
  content: '\f061';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 15px;
  font-size: 22px;
}
.products .boxes .box:hover a::after {
  animation: arrow-move .8s infinite;
}